
html {
scroll-behavior: smooth;
font-size: 18px;
-webkit-font-smoothing: antialiased;
}
body {
width: 80%;
margin: auto;
padding: auto;
}
.fletxa {
    position: fixed;
    left: 40px;
    top: 40px;
}
.principal {
width: 80%;
margin: 80px auto;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}
a:active {
    color: #0056b3;
    text-decoration: underline;
}
.columns{
    column-count: 3;
    column-gap: .5em;
}